# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
/_static

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/.firebaserc
/_static/cache/webpack/client-development/0.pack
/_static/cache/webpack/server-development/0.pack
/_static/cache/webpack/client-development/1.pack
/_static/cache/webpack/server-development/1.pack
/_static/cache/webpack/client-development/2.pack
/_static/cache/webpack/server-development/2.pack
/_static/cache/webpack/client-development/3.pack
/_static/cache/webpack/server-development/3.pack
/_static/static/webpack/3add15bd45048300.webpack.hot-update.json
/_static/cache/webpack/client-development/4.pack
/_static/cache/webpack/server-development/4.pack
/_static/cache/webpack/client-development/5.pack
/_static/cache/webpack/server-development/5.pack
/_static/static/media/05a31a2ca4975f99-s.woff2
/_static/cache/webpack/client-development/6.pack
/_static/cache/webpack/server-development/6.pack
/_static/static/webpack/6b47ae1f4f82ee60.webpack.hot-update.json
/_static/cache/webpack/client-development/7.pack
/_static/cache/webpack/server-development/7.pack
/_static/cache/webpack/client-development/8.pack
/_static/cache/webpack/server-development/8.pack
/_static/cache/webpack/client-development/9.pack
/_static/cache/webpack/server-development/9.pack
/_static/static/webpack/9ad1107f361c963a.webpack.hot-update.json
/_static/static/webpack/9f62e100afd253a4.webpack.hot-update.json
/_static/cache/webpack/client-development/10.pack
/_static/cache/webpack/server-development/10.pack
/_static/cache/webpack/client-development/11.pack
/_static/cache/webpack/server-development/11.pack
/_static/static/webpack/11c7565e40d52530.webpack.hot-update.json
/_static/cache/webpack/client-development/12.pack
/_static/cache/webpack/server-development/12.pack
/_static/cache/webpack/client-development/13.pack
/_static/cache/webpack/server-development/13.pack
/_static/cache/webpack/client-development/14.pack
/_static/cache/webpack/server-development/14.pack
/_static/cache/webpack/client-development/15.pack
/_static/cache/webpack/server-development/15.pack
/_static/cache/webpack/server-development/16.pack
/_static/cache/webpack/server-development/17.pack
/_static/static/webpack/37cd72ac6f9574c1.webpack.hot-update.json
/_static/static/media/51ed15f9841b9f9d-s.woff2
/_static/static/webpack/82b4d80e1b3c6fd5.webpack.hot-update.json
/_static/static/webpack/340edbe477b531bb.webpack.hot-update.json
/_static/static/webpack/820d54744b7a0d24.webpack.hot-update.json
/_static/static/webpack/4460cf723297ec33.webpack.hot-update.json
/_static/static/webpack/4588fd9ebacdedaa.webpack.hot-update.json
/_static/static/webpack/6155f18ed34407a7.webpack.hot-update.json
/_static/static/webpack/6218fcc1f81e09c4.webpack.hot-update.json
/_static/static/webpack/035656c80330caeb.webpack.hot-update.json
/_static/static/webpack/48274e839f00516f.webpack.hot-update.json
/_static/static/media/513657b02c5c193f-s.woff2
/_static/static/webpack/3129336aafc46bde.webpack.hot-update.json
/_static/static/webpack/4977917c6973df1d.webpack.hot-update.json
/_static/static/webpack/68182459f3b6eb0a.webpack.hot-update.json
/_static/static/webpack/278230756be8a10e.webpack.hot-update.json
/_static/server/pages/_app.js
/_static/static/chunks/pages/_app.js
/_static/static/development/_buildManifest.js
/_static/server/pages/_document.js
/_static/server/pages/_error.js
/_static/server/_error.js
/_static/static/chunks/pages/_error.js
/_static/static/chunks/_error.js
/_static/static/development/_ssgManifest.js
/_static/static/webpack/a5a539b50feac96c.webpack.hot-update.json
/_static/static/webpack/amp.340edbe477b531bb.hot-update.js
/_static/static/chunks/amp.js
/_static/app-build-manifest.json
/_static/static/chunks/app-client-internals.js
/_static/server/app-paths-manifest.json
/_static/static/media/bg_vert.5d7aa518.jpg
/_static/build-manifest.json
/_static/static/media/c9a5bc6a7c948fb0-s.p.woff2
/_static/server/client-reference-manifest.js
/_static/server/client-reference-manifest.json
/_static/static/media/d6b16ce4a6175f26-s.woff2
/_static/static/webpack/d9e8915ec661dbd4.webpack.hot-update.json
/_static/static/media/ec159349637c90ad-s.woff2
/_static/static/media/favicon.4aee0f09.ico
/_static/static/webpack/fbca23b989b58a8c.webpack.hot-update.json
/_static/static/media/fd4db3eb5472fc27-s.woff2
/firebase.json
/_static/server/flight-server-css-manifest.js
/_static/server/flight-server-css-manifest.json
/.firebase/hosting.cHVibGlj.cache
/_static/cache/webpack/client-development/index.pack
/_static/cache/webpack/server-development/index.pack
/_static/cache/webpack/client-development/index.pack.old
/_static/cache/webpack/server-development/index.pack.old
/_static/static/webpack/app/layout.6b47ae1f4f82ee60.hot-update.js
/_static/static/css/app/layout.css
/_static/static/chunks/app/layout.js
/_static/types/app/layout.ts
/_static/static/webpack/main.340edbe477b531bb.hot-update.js
/_static/static/chunks/main.js
/_static/static/chunks/main-app.js
/_static/server/middleware-build-manifest.js
/_static/server/middleware-manifest.json
/_static/server/middleware-react-loadable-manifest.js
/_static/server/next-font-manifest.js
/_static/server/next-font-manifest.json
/_static/types/package.json
/_static/package.json
/_static/static/webpack/app/buildingConsumption/page.9ad1107f361c963a.hot-update.js
/_static/static/webpack/app/buildingConsumption/page.9f62e100afd253a4.hot-update.js
/_static/static/webpack/app/buildingConsumption/page.37cd72ac6f9574c1.hot-update.js
/_static/static/webpack/app/buildingConsumption/page.82b4d80e1b3c6fd5.hot-update.js
/_static/static/webpack/app/buildingConsumption/page.820d54744b7a0d24.hot-update.js
/_static/static/webpack/app/buildingConsumption/page.4460cf723297ec33.hot-update.js
/_static/static/webpack/app/buildingConsumption/page.4588fd9ebacdedaa.hot-update.js
/_static/static/webpack/app/buildingConsumption/page.6155f18ed34407a7.hot-update.js
/_static/static/webpack/app/buildingConsumption/page.6218fcc1f81e09c4.hot-update.js
/_static/static/webpack/app/buildingConsumption/page.035656c80330caeb.hot-update.js
/_static/static/webpack/app/buildingConsumption/page.48274e839f00516f.hot-update.js
/_static/static/webpack/app/buildingConsumption/page.4977917c6973df1d.hot-update.js
/_static/static/webpack/app/buildingConsumption/page.68182459f3b6eb0a.hot-update.js
/_static/static/webpack/app/buildingConsumption/page.278230756be8a10e.hot-update.js
/_static/static/webpack/app/buildingConsumption/page.a5a539b50feac96c.hot-update.js
/_static/static/css/app/buildingConsumption/page.css
/_static/static/css/app/page.css
/_static/static/webpack/app/buildingConsumption/page.d9e8915ec661dbd4.hot-update.js
/_static/static/webpack/app/buildingConsumption/page.fbca23b989b58a8c.hot-update.js
/_static/server/app/buildingConsumption/page.js
/_static/server/app/page.js
/_static/static/chunks/app/buildingConsumption/page.js
/_static/static/chunks/app/page.js
/_static/types/app/buildingConsumption/page.ts
/_static/types/app/page.ts
/_static/server/pages-manifest.json
/_static/static/chunks/polyfills.js
/_static/react-loadable-manifest.json
/_static/static/chunks/react-refresh.js
/_static/server/app/favicon.ico/route.js
/_static/server/server-reference-manifest.js
/_static/server/server-reference-manifest.json
/_static/trace
/_static/static/webpack/webpack.3add15bd45048300.hot-update.js
/_static/static/webpack/webpack.6b47ae1f4f82ee60.hot-update.js
/_static/static/webpack/webpack.9ad1107f361c963a.hot-update.js
/_static/static/webpack/webpack.9f62e100afd253a4.hot-update.js
/_static/static/webpack/webpack.11c7565e40d52530.hot-update.js
/_static/static/webpack/webpack.37cd72ac6f9574c1.hot-update.js
/_static/static/webpack/webpack.82b4d80e1b3c6fd5.hot-update.js
/_static/static/webpack/webpack.340edbe477b531bb.hot-update.js
/_static/static/webpack/webpack.820d54744b7a0d24.hot-update.js
/_static/static/webpack/webpack.4460cf723297ec33.hot-update.js
/_static/static/webpack/webpack.4588fd9ebacdedaa.hot-update.js
/_static/static/webpack/webpack.6155f18ed34407a7.hot-update.js
/_static/static/webpack/webpack.6218fcc1f81e09c4.hot-update.js
/_static/static/webpack/webpack.035656c80330caeb.hot-update.js
/_static/static/webpack/webpack.48274e839f00516f.hot-update.js
/_static/static/webpack/webpack.3129336aafc46bde.hot-update.js
/_static/static/webpack/webpack.4977917c6973df1d.hot-update.js
/_static/static/webpack/webpack.68182459f3b6eb0a.hot-update.js
/_static/static/webpack/webpack.278230756be8a10e.hot-update.js
/_static/static/webpack/webpack.a5a539b50feac96c.hot-update.js
/_static/static/webpack/webpack.d9e8915ec661dbd4.hot-update.js
/_static/static/webpack/webpack.fbca23b989b58a8c.hot-update.js
/_static/static/chunks/webpack.js
/_static/server/webpack-runtime.js
