.mainSelectContainer {
    position: relative;
    width: 100px;
    font-family: Arial, sans-serif;
    user-select: none;
    cursor: pointer;
}

.selectedValue {
    background: var(--secondary-color);
    padding: 0.5rem;
    height: 100%;
    border: 1px solid var(--tertiary-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s ease;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.selectedValue:hover {
    background: var(--secondary-color);
}

.optionsContainer {
    position: absolute;
    min-width: 100%;
    background: var(--tertiary-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    z-index: 1000;
    border-radius: 5px;
    overflow: scroll;
    animation: fadeIn 0.3s ease;
    max-height: 7.5rem;
    white-space: nowrap;
}

.optionsContainer.down {
    top: 100%;
    left: 0;
}

.optionsContainer.up {
    bottom: 100%;
    left: 0;
}

.optionsContainer.right {
    top: 0;
    left: 100%;
}

.optionsContainer.left {
    top: 0;
    right: 100%;
}

.optionContainer {
    align-items: center;
    display: flex;
    padding: 10px;
    height: 2.5rem; /* Feste Höhe für konsistente Anzeige */
    border-bottom: 1px solid #eee;
    transition: background 0.2s ease, color 0.2s ease;
}

.optionContainer:last-child {
    border-bottom: none;
}

.optionContainer:hover {
    background: var(--tertiary-color);
    color: var(--text-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
