.inputContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-radius: 15px;
    gap: 1dvw;
    background: var(--secondary-color);
    border: 3px solid transparent;
}

.inputInvalid {
    background-color: var(--input-invalid-background);
}

.inputValid {
    background: var(--input-valid-background);
}

.inputContainerFocus {
    border: 3px solid black;
}

.input {
    background: none;
    border: none;
    width: 70%;
}

.input:hover {
    border: none;
}

.input:focus {
    outline: none;
}

.microphoneContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    border-radius: 100%;
    padding: 1rem;
    width: 5dvh;
    height: 5dvh;
}
