.mainContainer {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    height: 10vh;
    background: var(--color-primary);
    padding: 0 5%;
    position: fixed;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}
.menuItem {
    display: flex;
    padding: 0 5%;
    /*width: 10vw;*/
    align-items: center;
    justify-content: center;
    border: none;
    background: var(--color-primary);
}

.menuItem:hover {
    cursor: pointer;
    background: var(--color-secondary);
}

.select {
    margin-bottom: 5%;
    padding: 5%;
    background: var(--color-secondary);
    border-color: var(--color-text);
    border-width: 2px;
}

