.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input {
    border-radius: 10px;
    padding: 0.5rem;
    background: var(--secondary-color);
    border-color: var(--border-color);
    border: none;
    outline: none;
}

.inputInvalid {
    background-color: var(--input-invalid-background);
}

.inputValid {
    background: var(--input-valid-background);
}

.input::placeholder {
    color: var(--text-color-muted);
}
