.button {
    display: flex;
    padding: 5% 5%;
    margin-top: 5%;
    /*width: 10vw;*/
    align-items: center;
    justify-content: center;
    border-color: var(--border);
    background: var(--color-secondary);
    border-radius: 10px;
}

.button:disabled {
    background: var(--color-primary);
}

.input {
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 5%;
    background: var(--color-secondary);
    border-color: var(--border);
    border-width: 2px;
}

.inputInvalid {
    background-color: var(--color-invalid);
}

.inputValid {
    background: var(--color-valid);
}

.input::placeholder {
    color: var(--color-text-placeholder);
}

.select {
    margin-bottom: 5%;
    padding: 5%;
    border-radius: 10px;
    background: var(--color-secondary);
    border-color: var(--border);
    border-width: 2px;
}
