.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.flatName {
    margin-left: 0.5rem;
}

.fieldLabel {
    margin-left: 0.5rem;
    width: 100%;
}

.fieldsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fieldInputContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2dvw;
}

.microphoneContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    border-radius: 100%;
    padding: 1rem;
    width: 5dvh;
    height: 5dvh;
}

.select {
    height: 6dvh;
    background: var(--secondary-color);
    border-color: var(--border-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1dvh;
}
