.button {
    display: flex;
    padding: 5% 5%;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    border-color: var(--border-color);
    background: var(--secondary-color);
    border-radius: 10px;
}

.input {
    border-radius: 10px;
    padding: 5%;
    margin: 1dvh 0;
    border: none;
    background: grey;
    border-color: var(--border-color);
    border-width: 2px;
}

.inputInvalid {
    background-color: var(--input-invalid-background);
}

.inputValid {
    background: var(--input-valid-background);
}

.input::placeholder {
    color: var(--text-color-muted);
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1dvw;
}

.microphoneContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    border-radius: 100%;
    padding: 5%;
    width: 5dvh;
    height: 5dvh;
}

.select {
    height: 6dvh;
    background: var(--secondary-color);
    border-color: var(--border-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1dvh;
}
