.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.button {
    display: flex;
    padding: 10px 15px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    border: none;
    background: var(--primary-color);
    color: var(--text-color);
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background: var(--secondary-color);
}

.button:disabled {
    color: var(--secondary-color-muted);
    background: var(--secondary-color);
    cursor: not-allowed;
}

.disabled {
    color: var(--secondary-color-muted) !important;
    cursor: not-allowed;
}

.input {
    width: 100%;
    border-radius: 8px;
    padding: 0.75rem;
    background: var(--secondary-color);
    border: none;
    font-size: 0.9rem;
    color: var(--text-color);
    outline: none;
}

.inputInvalid {
    background-color: var(--input-invalid-background);
    border-color: var(--input-invalid-background);
}

.inputValid {
    background: var(--input-valid-background);
    border-color: var(--input-valid-background);
}

.input::placeholder {
    color: var(--text-color-muted);
    font-style: italic;
}

.roomsContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: var(--primary-color);
    border-radius: 10px;
    gap: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.fieldsList,
.roomsList {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    max-height: 20vh; /* Mehr Platz für längere Listen */
    overflow-y: auto;
    padding-right: 10px; /* Platz für Scrollbar */
    scrollbar-width: thin; /* Moderne, dünne Scrollbar */
    scrollbar-color: var(--primary-color);
}

.fieldsList::-webkit-scrollbar,
.roomsList::-webkit-scrollbar {
    width: 8px;
}

.fieldsList::-webkit-scrollbar-thumb,
.roomsList::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}

.roomField {
    font-size: 0.9rem;
    border: none;
    outline: none;
    background: transparent;
    color: var(--text-color);
    width: 100%;
}

.addingFieldForRoom:focus {
    background: var(--secondary-color);
    outline: none;
}

.roomInput {
    border: none;
    outline: none;
    background: transparent;
    color: var(--text-color);
    font-size: 0.9rem;
    width: 100%;
}

.roomFieldContainer {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.inputSaveContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.deleteButton {
    border-radius: 100%;
    padding: 0.2rem;
    font-size: 0.8rem;
    background: var(--error-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.deleteButton:hover {
    background: var(--error-color-hover); /* Dunklere Variante der Warnfarbe */
    transform: scale(1.1); /* Leichtes Hervorheben */
}

.changeButton {
    cursor: pointer;
    font-size: 0.8rem;
}

.changeButton:hover {
    transform: scale(1.1); /* Leichtes Hervorheben */
}

.roomItemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.8rem;
    background: var(--secondary-color-light);
    border-radius: 8px;
    transition: background-color 0.2s ease, transform 0.2s ease;
    gap: 0.5rem;
}

.roomItemContainer:hover {
    background: var(--secondary-color);
}

.positionChangeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;
}

.arrowButton {
    background: var(--primary-color);
    border-radius: 100%;
    padding: 0.2rem;
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}
