.button {
    display: flex;
    padding: 5% 5%;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    border: none;
    background: var(--color-secondary);
    border-radius: 10px;
}

.button:disabled {
    color: var(--color-secondary-tans);
    background: var(--color-primary);
}

.input {
    width: 90%;
    border-radius: 10px;
    padding: 0.75rem;
    background: var(--color-secondary);
    border: none;
}

.inputRooms {
    margin-top: 2dvh;
}

.inputInvalid {
    background-color: var(--color-invalid);
}

.inputValid {
    background: var(--color-valid);
}

.input::placeholder {
    color: var(--color-text-placeholder);
}

.select {
    height: 6dvh;
    background: var(--color-secondary);
    border-color: var(--border);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1dvh;
}

.roomsContainer {
    padding: 1dvh;
    border: black 1px solid;
}

.fieldsContainer {
    padding: 1dvh;
    border: black 1px solid;
}

.fieldsList {
    max-height: 20dvh;
    overflow: auto;
}

.fieldsLabel {
    margin-bottom: 1dvh;
}

.roomsList {
    max-height: 20dvh;
    overflow: auto;
}

.roomField {
    margin-left: 5dvw;
    font-size: 80%;
    border: none;
    outline: none;
}

.roomyLabel {
    margin-bottom: 1dvh;
}

.addingFieldForRoom:focus {
    background: var(--color-secondary);
}

.roomInput {
    border: none;
    outline: none;
}

.roomFieldContainer {
    display: flex;
    flex-direction: column;
}

.inputSaveContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
