.mainContainer {
    height: 100%;
    padding: 15dvh 5% 5dvh 5%;
    overflow: hidden;
    overflow-y: scroll;
}

.mainContainer::-webkit-scrollbar {
    display: none;
}

.list {
    border-radius: 5px;
}

.image {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}
