.mainContainerLight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    background: var(--primary-color);
    flex-wrap: wrap;
}

.mainContainerDark {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    background: var(--secondary-color);
    flex-wrap: wrap;
}

.statsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.innerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item {
    display: flex;
    padding: 0.5rem 0.2rem;
    color: var(--text-color);
}
