/* Container */
.isLoadingContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
}

/* Hauptbox */
.isLoading {
    display: flex;
    flex-direction: column; /* Spinner und Text übereinander */
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: var(--border-radius, 12px); /* Abgerundete Kanten */
    background: var(--modal-background); /* Transparentes Weiß */
    box-shadow: var(--box-shadow-medium); /* Sanfter Schatten */
}

/* Spinner */
.spinner {
    width: 3rem;
    height: 3rem;
    border: 4px solid var(--secondary-color-muted); /* Gedämpftes Grau */
    border-top: 4px solid var(--primary-color); /* Akzentfarbe */
    border-radius: 50%; /* Kreisform */
    animation: spin 1s linear infinite; /* Rotation */
    margin-bottom: 1rem;
}

/* Text */
.isLoading span {
    font-size: 1rem;
    color: var(--text-color); /* Dunkles Grau */
    font-weight: 500; /* Mittelstarke Schrift */
}

/* Spinner-Animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
