.mainContainer {
    height: 100dvh;
}

.image {
    position: fixed;
    z-index: -2;
    width: 100%;
    height: 100%;
}

.imageFilter {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, rgba(34, 25, 18, 0.2), rgba(22, 15, 10, 0.55));
}
